*{
	margin: 0%;
	


}
.navbar{
	padding: 0.5%;
	font-family: 'Poppins', sans-serif;

}
.navbar a:hover{
	background-color: whitesmoke;
	background-radius:20%;
}

.navbar a{
	text-decoration: none;
	margin-left:3%;
	color: black;
	font-size:20px;
}
.logo{
	vertical-align: middle;
}
#signin{
	background-color: #00baf2;
	color: white;
	border-radius: 25px;
	margin-left: 2%;
	padding: 0.4% 0.5%;
	
}
.kyc{
	text-align: center;
	font-size: 20px;
	background-color: whitesmoke;
	padding:1;
}
.love{
	font-size: 50px;
	font-family:'Poppins', sans-serif;

}

.signin-2{
	width: 2%;
}
.sec2{
	display: flex;
	justify-content:space-between;
	padding: 10% 0% 7% 10%;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
}
.tickets p{
	font-size: 16px;
}

.icons{
	display: flex;
	justify-content: space-evenly;
	font-size: 15px;
	padding: 5%;

}
.sec3{
	background-color:#00baf2;
	color: white;
	padding-top:0.2%;
	padding-left:1%;
}
.sec3 p{
	font-size: 19px;
	padding-top: 5%;
	padding-bottom: 6%;
}

.Recharge{
	font-size: 30px;
	font-family:'Poppins', sans-serif;
	

}

.icons-2{
	display: flex;
	justify-content: space-evenly;
	font-size: 15px;
	margin: 0% 2% 0% 2%;
	border: 1px solid #0f4a8a;
	padding: 5%;

}

.sec4{
	background-color:#0f4a8a;
	color: white;
	padding-top:0.2%;
	padding-left:1%;
	padding: 3%;

}
.sec4 p{
	font-size: 19px;
}

.Book p{
	font-size: 30px;
	font-family:'Poppins', sans-serif;
}



.Download-Paytm-App{
	border: 1px solid black;
	color: white;
	background-color: black;
	border-radius: 30px;
	text-align: center;
	width:55%;
	padding: 1%;
	margin-top: 4%;
	font-size: 13px;

}

.Download-Paytm-App:hover{
	background-color: white;
	color: black;
}
.instrument{
	font-size: 50px;
	font-family:'Poppins', sans-serif;
	vertical-align: middle;
}
.sec50{
	background-color:rgba(239,239,239,0.6);
}

.sec5{
	padding: 7%;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
}
.pay{
	display: flex;

}

.fastest{
	display: flex;
	justify-content: space-between;
	padding: 5%;
	background-color: white;
	font-size: 20Px;
	vertical-align: center;
}
.fastest p{
	font-size: 19px;
}
.load{
	
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
}

.bank{
	font-size: 25px;
	font-family:'Poppins', sans-serif;
	vertical-align: middle;
}
.UPI{
	display: flex;
	justify-content: space-between;
	padding: 5%;
	background-color: white;
	font-size: 20Px;
	vertical-align: center;


}
.pay{
	display: flex;

}
.sec6{
	padding: 7%;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
}
.online{
	font-size: 16px;
	padding-top: 5%;
	padding-bottom: 6%;
}

.Learn-More {
	background-color:#0f4a8a;;
	color: white;
	font-size: 15px;
	border-radius: 25px;
	width: 40%;
	padding:0.6%;
	text-align: center;
	padding-left: 1%;
}
.Learn-More:hover{
	background-color:#00baf2;
	color: white;
}
.pay{
	
	display: flex;
}
.Postpaid{
	display: flex;
	justify-content: space-evenly;
	padding: 5%;
	background-color: white;
	font-size: 20Px;
	vertical-align: center;
}
.want{
	font-size: 30px;
	font-family:'Poppins', sans-serif;
	vertical-align: middle;
}
.with{
 	
 	font-size: 16px;
	padding-top: 5%;
	padding-bottom: 6%;	
}
.sec7{
	padding: 7%;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	padding-left: 5%;
	margin-bottom: 2%;
}
.Unlimited{
	font-size: 35px;
	font-family:'Poppins', sans-serif;
	vertical-align: middle;
}
.HDFC{
	font-size: 15px;
}	
.India{
	font-size: 35px;
	font-family:'Poppins', sans-serif;
	vertical-align: middle;
	

}
.SBI{
	
	font-size: 16px;
	padding-top: 5%;
	padding-bottom: 6%;
}
.sec8{
	padding: 2%;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	padding-left: 5%;
	margin-bottom: 7%;

}
.cashback{
	display: flex;
	justify-content: space-between;
	padding: 5%;
	
	font-size: 20px;
	vertical-align: center;
}
.incredible{
	margin-right: 3%;
	padding: 3%;
	background-color: white;
	
}
.Rewards{
	padding: 3%;
	padding-top: 8%;
	background-color: white;

}


.jiffy{
	display: flex;
	justify-content:space-between;
	padding: 10% 0% 7% 10%;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
}

.by{
	font-size: 50px;
	font-family:'Poppins', sans-serif;
	vertical-align: middle;
}
.sec9{
	padding: 7%;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	padding-left: 5%;
	margin-bottom: 2%;

}
.sec10{
	background-color: whitesmoke;
	background-image: url("	https://assetscdn1.paytm.com/frontendcommonweb/69678bc5.png");
}
.image-32{
	padding-right:8%;
}
.wealth{
	margin-right: 10%;
	padding-left:2%;
}
.easy{
	display: flex;
	justify-content:space-between;
	padding: 10% 0% 7% 10%;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	padding-right: 10%;
}
.sec11{
	padding: 2%;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	padding-left: 5%;
	margin-bottom: 2%;
	vertical-align: middle;
	padding: 5%;
}


.Buying{
	font-size: 15px;
	padding:5%;


}
.sec12{

	padding: 2%;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	padding-left: 2%;
	margin-bottom: 2%;
	vertical-align: middle;
	padding: 5%;
	background-color:rgba(239,239,239,0.6);
	border: 1px solid whitesmoke ;
	margin: 6%;

	
}
.img38{
	padding-left:20%;
}
.accept{
	
	display: flex;
	justify-content:space-between;
	
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	margin-left:7% ;
	text-align: center;

}
.ease{
	padding-top: 10%;
	
}
.ok{
	padding-top: 10%;
	padding-right: 25%;
}
.grow{

	font-size: 16px;
	padding-top: 5%;
	padding-bottom: 6%;
}
.sec13{
	padding: 2%;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	padding-left: 2%;
	margin-bottom: 2%;
	vertical-align: middle;
	padding: 5%;
	background-color:rgba(239,239,239,0.6);
	border: 1px solid whitesmoke ;
	margin: 6%;
}
.sec14{
	padding: 2%;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	padding-left: 2%;
	margin-bottom: 2%;
	vertical-align: middle;
	padding: 5%;
	background-color:rgba(239,239,239,0.6);
	border: 1px solid whitesmoke ;
	margin: 6%;
}
.bill p{
    font-size: 15px;
	padding-top: 5%;
	padding-bottom: 6%;
	color:lightblack;
}
.to{
	font-size: 40px;
	font-family:'Poppins', sans-serif;
	vertical-align: middle;

}
@media(max-width: 340px) {
	.navbar a{
		font-size: 5px;
		margin: 0.5%;
	
	}
	.kyc{
		font-size: 6px;
	}
	.love{
		font-size: 15px;
	}
	.tickets p{
		font-size: 10px;

	}
	.tickets{
		margin-right: 3%;
	}
	.Download-Paytm-App{
		width: 75%;
		font-size: 7px!important;
	}
	.Recharge{
		font-size: 13px;

	}
	.icons p{
		font-size:10px;

	}
	.image7{
		width: 8%;
	}
	.image1,.image2, .image3, .image4, .image5, .image6,.image7{
		width: 20%;
		padding-right:5% ;
		padding-top: 5% ;


	}  
	.icons-2 p{
		font-size:10px;

	}
	.Book{
		font-size: 13px;
	}
	
	
	.image8,.image9, .image10, .image11, .image12, .image13,.image14{
		width: 20%;
		padding-right:5% ;
		padding-top:8% ;


	} 
	.instrument{
		font-size: 15px;
	}
	.pay p{
		font-size: 8px;
		padding-top: 4%;
	}
	.fastest h1{
		padding-top: 3%;
		font-size:13px;
		padding-bottom: 3%;


	}
	.load{
		font-size: 1px;
	}
	 




}